src/**.cmake
**/Makefile
**/CMakeFiles
**/*.cmake
!cmake/*.cmake
**/CMakeCache*
**/compile_commands.json
**/*.so.*
**/*.so
**/*.o
**/*.a
!src/**/*test*.h*
!src/**/*test*.c*
src/**/*test
**/.vscode
build*/**
*\#*
.idea
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
*.tgz
*.tar.gz
*.tbz2?
*.tar.bz2?
*.txz
*.tar.xz
